<section id="cards" class="my-10">
    <div class="flex mx-16 bg-[#003565] rounded-2xl p-0 flex-row items-center">
        <div class=" rounded-2xl p-8 flex flex-col items-start mr-4 w-[60%]">
            <div class="p-4">
                <p class="text-white font-bold leading-tight text-3xl justify-start mb-4" data-key="article6-title"></p>
                <p class="text-xl  text-white mb-4 text-justify" data-key="article6-description">
                </p>
                <div class="flex p-0 flex-row items-start">
                    <div
                        class=" p-2 flex flex-col items-start w-1/2 mr-4 border-l-white border-l-4 transition-all duration-400 transform hover:scale-105">
                        <h3 class="text-3xl font-bold text-white mb-4" data-key="article6-numberPublication1"></h3>
                        <p class="text-l text-white mb-0" data-key="article6-publication1"></p>
                    </div>
                    <div
                        class=" p-2 flex flex-col items-start w-1/2 border-l-white border-l-4 transition-all duration-400 transform hover:scale-105 mb-4">
                        <h3 class="text-3xl font-bold text-white mb-4" data-key="article6-numberPublication2"></h3>
                        <p class="text-l text-white mb-0" data-key="article6-publication2"></p>
                    </div>
                </div>
                <div class="flex w-50 items-center space-x-3 py-0 px-0 text-white">
                    <a href="#" class="text-lg text-md transition-all duration-400 transform hover:text-[#50adc9] " data-key="article6-button">
                    </a>
                </div>
            </div>
        </div>
        <div class="hidden rounded-2xl p-0 md:flex md:flex-col items-end mr-4 md:mr-0 w-[30%]">
            <div class="tittleCard mx-0 my-2">
                <img class="rounded-base w-full" src="images/leaflet-1-1024x819.png" alt="" />
            </div>
        </div>
    </div>
</section>