<div class="md:flex  mt-20 justify-between items-center space-x-8">
    <div class="md:flex pl-16">
        <div class="">
            <h1 class="lg:text-5xl  font-bold leading-tight text-3xl" data-key="research-title">
                
            </h1>
            <p class="mt-4 text-lg font-normal" data-key="research-description">
                
            </p>
            <nav class="flex items-center py-4 px-0 justify-between">
                <div class="flex items-center">
                    <div class="ml-10">
                        <ul class="md:flex space-x-4 hidden ">
                            <li class="mr-0">
                                <a href="research.html" class="text-gray-800 font-semibold hover:text-[#00a7b9]" data-key="research-all"></a>
                            </li>
                            <li>
                                <a href="#" class="text-gray-800 font-semibold hover:text-[#00a7b9]" data-key="research-projects"></a>
                            </li>
                            <li>
                                <a href="#" class="text-gray-800 font-semibold hover:text-[#00a7b9]" data-key="research-articles"></a>
                            </li>
                            <li>
                                <a href="#" class="text-gray-800 font-semibold hover:text-[#00a7b9]" data-key="research-communications"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="md:grid grid-cols-2 gap-8 mx-16 my-4">
    <!--INICIO CARD NOTICIA-->
    <div class="min-w-0 hover:scale-105 transition-all duration-1000 mb-4 md:mb-0">
        <div class="bg-gray-50 rounded-2xl p-4 flex flex-col hover:border-2 border-zinc-950">
            <h3 class="text-l text-[#003565] text-justify font-bold" data-key="research-article1-title">
                
            </h3>
            <div class="flex p-4 flex-row ">
                <div class="flex flex-col items-start min-w-0 w-full text-justify">
                    <ul role="list" class="w-full">
                        <li>
                            <div class="flex items-center mb-4">
                                <a href="#" class="wrap-break-words min-w-0 w-full font-bold hover:text-[#003565]" data-key="research-article1-link">
                                    
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center text-gray-600">
                                <p data-key="research-article1-description">
                                    
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--FIN CARD NOTICIA-->

    <!--INICIO CARD NOTICIA-->
    <div class="min-w-0 hover:scale-105 transition-all duration-1000 mb-4">
        <div class="bg-gray-50 rounded-2xl p-4 flex flex-col hover:border-2 border-zinc-950">
            <h3 class="text-l text-[#003565] text-justify font-bold" data-key="research-article2-title">
            </h3>
            <div class="flex p-4 flex-row ">
                <div class="flex flex-col items-start min-w-0 w-full text-justify">
                    <ul role="list" class="w-full">
                        <li>
                            <div class="flex items-center mb-4">
                                <a href="#" class="wrap-break-words min-w-0 w-full font-bold hover:text-[#003565]" data-key="research-article2-link">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center text-gray-600">
                                <p data-key="research-article2-description">
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--FIN CARD NOTICIA-->
</div>