<div class="md:flex  mt-20 justify-between items-center space-x-8">
    <div class="md:flex pl-16 ">
        <div class="">
            <h1 class="lg:text-5xl  font-bold leading-tight text-3xl">
                Contáctanos
            </h1>
            <p class="mt-4 text-lg font-normal ">
                Estaremos encantados de responder a sus preguntas
            </p>
        </div>
    </div>
</div>

<div class="grid grid-cols-2 gap-8 mx-16 my-8">
    <!--INICIO FORMULARIO-->
    <div class="w-full">
        <div
            class="block-full rounded-base border rounded-xl px-4 hover:bg-[#50adc9] transition duration-1000 rounded-base p-4">
            <form class="">
                <div class="space-y-12">
                    <div class=" border-gray-900/10 pb-12">
                        <div class="grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-6">
                            <div class="sm:col-span-3">
                                <label for="nombre-apellido" class="block text-sm/6 font-medium text-gray-900 ">
                                    Nombre y Apellido
                                </label>
                                <div class="mt-2">
                                    <input id="nombre-apellido" type="text" name="nombre-apellido"
                                        autocomplete="given-name"
                                        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                                </div>
                            </div>
                            <div class="sm:col-span-3">
                                <label for="email" class="block text-sm/6 font-medium text-gray-900">
                                    Correo electrónico
                                </label>
                                <div class="mt-2">
                                    <input id="email" type="email" name="email" autocomplete="email"
                                        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                                </div>
                            </div>

                            <div class="sm:col-span-3">
                                <label for="telephone" class="block text-sm/6 font-medium text-gray-900">
                                    Número de teléfono
                                </label>
                                <div class="mt-2">
                                    <input id="telephone" type="tel" name="telephone" autocomplete="tel"
                                        class="required block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                                </div>
                            </div>
                            <div class="sm:col-span-3">
                                <label for="clinica-empresa" class="block text-sm/6 font-medium text-gray-900">
                                    Clínica/ Empresa
                                </label>
                                <div class="mt-2">
                                    <input id="clinica-empresa" type="text" name="clinica-empresa"
                                        autocomplete="organization"
                                        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                                </div>
                            </div>
                            <div class="col-span-full">
                                <label for="about" class="block text-sm/6 font-medium text-gray-900">
                                    Mensaje
                                </label>
                                <div class="mt-2">
                                    <textarea id="about" name="about" rows="3"
                                        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"></textarea>
                                </div>
                            </div>
                            <div class="col-span-full">
                                <input id="default-checkbox" type="checkbox" value=""
                                    class="w-4 h-4 border border-default-medium rounded-xs bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft">
                                <label for="default-checkbox"
                                    class="select-none ms-2 text-sm font-medium text-heading text-justify">
                                    Doy mi consentimiento para el tratamiento de mis datos personales de conformidad con
                                    el Reglamento (UE) 2016/679.
                                </label>
                            </div>
                        </div>
                        <div class="mt-6 flex items-center justify-end gap-x-6">
                            <button type="submit"
                                class="rounded-md px-3 py-2 text-sm font-semibold bg-[#50adc9] text-white transition-all duration-400 transform hover:bg-[#003565] hover:scale-105 cursor-pointer hover:shadow-lg">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--FIN FORMULARIO-->

    <!--INICIO (Pendiente mejorar aspecto.)-->
    <div class="min-w-0">
        <div class="bg-neutral-primary-soft block-full rounded-base rounded-xl">
            <div class="tittleCard mx-4 my-2 text-justify">
                <h5 class="mb-2 text-2xl font-semibold tracking-tight text-heading ">
                    Contacto directo
                </h5>
            </div>
            <hr class="border-gray-100">
            <div class="bodyCard mx-4 my-2 text-justify">
                <div class="flex items-center gap-3">
                    <div class="w-9 h-9 rounded-full bg-blue-50 flex items-center justify-center text-base">📞</div>
                    <div>
                        <p class="text-xs text-gray-400">Teléfono</p>
                        <p class="text-sm font-medium text-gray-800">+34 XXX XXX XXX</p>
                    </div>
                </div>
                <br>
                <div class="flex items-center gap-3">
                    <div class="w-9 h-9 rounded-full bg-blue-50 flex items-center justify-center text-base">📠</div>
                    <div>
                        <p class="text-xs text-gray-400">Fax</p>
                        <p class="text-sm font-medium text-gray-800">+34 XXX XXX XXX</p>
                    </div>
                </div>
                <br>
                <hr class="border-gray-100">
                <div class="tittleCard mx-4 my-2 text-justify">
                    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-heading ">
                        Localización 📍
                    </h5>
                    <div>
                        <p class="text-sm font-medium text-gray-800">Calle Gral. San Martín, (46004) Valencia</p>
                    </div>
                    <iframe src="https://maps.google.com/maps?q=39.465349,-0.3746&z=17&output=embed" width="600"
                        height="450" style="border:0;" allowfullscreen="" loading="lazy">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <!--FIN ->