<section id="cards" class="my-10 bg-gray-50 pb-8">
    <div class="md:pl-16 mx-16 my-4 text-justify md:text-center">
        <h2 class="lg:text-5xl font-bold leading-tight text-3xl" data-key="feedback-title"></h2>
        <p class="mt-2 text-lg font-normal text-gray-600" data-key="feedback-description">
        </p>
    </div>
    <div class="md:flex mx-16 ">
        <div class="bg-white rounded-2xl p-8 flex flex-col mr-4 my-4 overflow-hidden">
            <p class="text-l text-gray-500 text-justify" data-key="feedback-comment1">
                <span class="font-bold"></span> 
            </p>
            <div class="flex  p-4 flex-row ">
                <div class="flex flex-col md:block items-start w-full">
                    <div class="mx-auto">
                        <ul role="list" class="">
                            <li>
                                <div class="flex items-center gap-x-6">
                                    <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                        alt=""
                                        class="size-16 rounded-full outline-1 -outline-offset-1 outline-black/5" />
                                    <div>
                                        <h3 class="text-base font-semibold tracking-tight text-gray-900">
                                            María González
                                        </h3>
                                        <p class="text-sm/6 font-semibold text-[#003565]" data-key="feedback-role1">Directora Médica</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="flex items-center gap-x-6 w-[25%] md:w-[40%] xl:w-[50%] 2xl:w-[40%]">
                                    <div class="md:w-1/4">
                                        <img src="./images/logoEmpresa.png" alt="">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white rounded-2xl p-8 flex flex-col mr-4 my-4 overflow-hidden">
            <p class="text-l text-gray-500 text-justify" data-key="feedback-comment2">
            </p>
            <div class="flex  p-4 flex-row ">
                <div class="flex flex-col md:block items-start w-full">
                    <div class="mx-auto">
                        <ul role="list" class="">
                            <li>
                                <div class="flex items-center gap-x-6">
                                    <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                        alt=""
                                        class="size-16 rounded-full outline-1 -outline-offset-1 outline-black/5" />
                                    <div>
                                        <h3 class="text-base font-semibold tracking-tight text-gray-900">
                                            Elisabeth Magriñán
                                        </h3>
                                        <p class="text-sm/6 font-semibold text-[#003565]" data-key="feedback-role2">Co-Founder / CEO</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="flex items-center gap-x-6 w-[25%] md:w-[40%] xl:w-[50%] 2xl:w-[40%]">
                                    <div class="md:w-1/4">
                                        <img src="./images/logoEmpresa.png" alt="">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
