<section id="cards" class="my-10 ">
    <div class="md:pl-16 mx-16 my-4 text-justify">
        <h2 class="lg:text-5xl font-bold leading-tight text-3xl" data-key="lastNews-title"></h2>
        <p class="mt-2 text-lg font-normal text-gray-600" data-key="lastNews-description"></p>
    </div>
    <div class="mx-16 md:pl-16 md:pr-24">
        <div class="flex flex-col md:grid md:grid-cols-3 gap-8 items-start">
            <!--INICIO CARD NOTICIA-->
            <div class="bg-neutral-primary-soft w-full block-full rounded-base border rounded-xl overflow-hidden">
                <div class="imageCard transition duration-700 hover:scale-105 block my-b-2">
                    <a href="#">
                        <img class="rounded-base" src="./images/fastCompanyAwards.png" alt="" />
                    </a>
                </div>
                <div class="tittleCard mx-4 my-2 text-justify">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-heading hover:text-[#50adc9]" data-key="lastNews-notice1-title">
                        </h5>
                    </a>
                </div>
                <div class="bodyCard mx-4 my-2 text-justify">
                    <p class="text-body my-2" data-key="lastNews-notice1-description">
                    </p>
                </div>
            </div>
            <!--FIN CARD NOTICIA-->

            <!--INICIO CARD NOTICIA-->
            <div class="bg-neutral-primary-soft w-full block-full rounded-base border rounded-xl overflow-hidden">
                <div class="imageCard transition duration-700 hover:scale-105 block my-b-2">
                    <a href="#">
                        <img class="rounded-base" src="./images/cincoDiasAwards.png" alt="" />
                    </a>
                </div>
                <div class="tittleCard mx-4 my-2 text-justify">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-heading hover:text-[#50adc9]" data-key="lastNews-notice2-title">
                        </h5>
                    </a>
                </div>
                <div class="bodyCard mx-4 my-2 text-justify">
                    <p class="text-body my-2" data-key="lastNews-notice2-description">
                    </p>
                </div>
            </div>
            <!--FIN CARD NOTICIA-->

            <!--INICIO CARD NOTICIA-->
            <div class="bg-neutral-primary-soft w-full block-full rounded-base border rounded-xl overflow-hidden">
                <div class="imageCard transition duration-700 hover:scale-105 block my-b-2">
                    <a href="#">
                        <img class="rounded-base" src="./images/cincoDiasAwards.png" alt="" />
                    </a>
                </div>
                <div class="tittleCard mx-4 my-2 text-justify">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-heading hover:text-[#50adc9]" data-key="lastNews-notice3-title">
                        </h5>
                    </a>
                </div>
                <div class="bodyCard mx-4 my-2 text-justify">
                    <p class="text-body my-2" data-key="lastNews-notice3-description">
                    </p>
                </div>
            </div>
            <!--FIN CARD NOTICIA-->

        </div>
    </div>
</section>