<!-- component -->
<section class="bg-transparent ">
    <!-- Navigation Bar -->
    <nav class="flex items-center py-2 px-14 justify-between">
        <div class="flex items-center">
            <a href="index.html">
                <img src="./images/logoEmpresa.png" alt=""
                    class="h-20 w-auto hover:scale-125 transition-transform duration-700">
            </a>
            <div class="ml-10">
                <ul class="md:flex space-x-4 hidden whitespace-nowrap">
                    <li class="mr-0">
                        <details class="relative">
                            <summary class="cursor-pointer text-gray-800 font-semibold list-none hover:text-[#00a7b9]" data-key="navbar0">
                                
                            </summary>
                            <ul class="absolute mt-4 bg-white shadow-md rounded">
                                <li><a href="#"
                                        class="block px-4 py-2 hover:bg-gray-100 hover:text-[#00a7b9]">Producto 1</a>
                                </li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <a href="research.html" class="text-gray-800 font-semibold hover:text-[#00a7b9]"
                            data-key="navbar1"></a>
                    </li>
                    <li>
                        <a href="quienesSomos.html" class="text-gray-800 font-semibold hover:text-[#00a7b9]"
                            data-key="navbar2"></a>
                    </li>
                    <li>
                        <a href="notices.html" class="text-gray-800 font-semibold hover:text-[#00a7b9]"
                            data-key="navbar3"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex items-center space-x-4">
            <div
                class=" lg:flex hidden items-center space-x-1 py-3 px-6 bg-[#50adc9] text-white rounded-lg  transition-all duration-400 transform hover:bg-[#003565] cursor-pointer hover:shadow-lg">
                <a href="contact.html" data-key="navbar4">Contáctanos</a>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
                    </svg>
                </span>
            </div>
        </div>
    </nav>
    <!-- End Navigation Bar -->