<div class="md:flex  mt-20 justify-between items-center space-x-8">
    <div class="md:flex pl-16 ">
        <div class="">
            <h1 class="lg:text-5xl  font-bold leading-tight text-3xl" data-key="news-title">
                
            </h1>
            <p class="mt-4 text-lg font-normal " data-key="news-description">
            </p>
            <nav class="flex items-center py-4 px-0 justify-between">
                <div class="flex items-center">
                    <div class="ml-10">
                        <ul class="md:flex space-x-4 hidden ">
                            <li class="mr-0">
                                <a href="#" class="text-gray-800 font-semibold hover:text-[#00a7b9]" data-key="news-all"></a>
                            </li>
                            <li>
                                <a href="#" class="text-gray-800 font-semibold hover:text-[#00a7b9]" data-key="news-blog"></a>
                            </li>
                            <li>
                                <a href="#" class="text-gray-800 font-semibold hover:text-[#00a7b9]" data-key="news-media"> </a>
                            </li>
                            <li>
                                <a href="#" class="text-gray-800 font-semibold hover:text-[#00a7b9]" data-key="news-news"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="mx-16 md:pl-16 md:pr-24">
    <div class="md:grid grid-cols-3 md:gap-8 mx-16 my-8">
        <!--INICIO CARD NOTICIA-->
        <div class="bg-neutral-primary-soft w-full block-full rounded-base border rounded-xl overflow-hidden mb-4">
            <div class="imageCard transition duration-700 hover:scale-105 block my-b-2">
                <a href="#">
                    <img class="rounded-base" src="./images/fastCompanyAwards.png" alt="" />
                </a>
            </div>
            <div class="tittleCard mx-4 my-2 text-justify">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-heading hover:text-[#50adc9]" data-key="lastNews-notice1-title">
                    </h5>
                </a>
            </div>
            <div class="bodyCard mx-4 my-2 text-justify">
                <p class="text-body my-2" data-key="lastNews-notice1-description">
                </p>
            </div>
        </div>
        <!--FIN CARD NOTICIA-->

        <!--INICIO CARD NOTICIA-->
        <div class="bg-neutral-primary-soft w-full block-full rounded-base border rounded-xl overflow-hidden mb-4">
            <div class="imageCard transition duration-700 hover:scale-105 block my-b-2">
                <a href="#">
                    <img class="rounded-base" src="./images/cincoDiasAwards.png" alt="" />
                </a>
            </div>
            <div class="tittleCard mx-4 my-2 text-justify">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-heading hover:text-[#50adc9]" data-key="lastNews-notice2-title">
                    </h5>
                </a>
            </div>
            <div class="bodyCard mx-4 my-2 text-justify">
                <p class="text-body my-2" data-key="lastNews-notice2-description">
                </p>
            </div>
        </div>
        <!--FIN CARD NOTICIA-->

        <!--INICIO CARD NOTICIA-->
        <div class="bg-neutral-primary-soft w-full block-full rounded-base border rounded-xl overflow-hidden mb-4">
            <div class="imageCard transition duration-700 hover:scale-105 block my-b-2">
                <a href="#">
                    <img class="rounded-base" src="./images/cincoDiasAwards.png" alt="" />
                </a>
            </div>
            <div class="tittleCard mx-4 my-2 text-justify">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-heading hover:text-[#50adc9]" data-key="lastNews-notice3-title">
                    </h5>
                </a>
            </div>
            <div class="bodyCard mx-4 my-2 text-justify">
                <p class="text-body my-2" data-key="lastNews-notice3-description">
                </p>
            </div>
        </div>
        <!--FIN CARD NOTICIA-->
        
        <!--INICIO CARD NOTICIA-->
        <div class="bg-neutral-primary-soft w-full block-full rounded-base border rounded-xl overflow-hidden">
            <div class="imageCard transition duration-700 hover:scale-105 block my-b-2">
                <a href="#">
                    <img class="rounded-base" src="./images/fastCompanyAwards.png" alt="" />
                </a>
            </div>
            <div class="tittleCard mx-4 my-2 text-justify">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-heading hover:text-[#50adc9]" data-key="lastNews-notice4-title">
                    </h5>
                </a>
            </div>
            <div class="bodyCard mx-4 my-2 text-justify">
                <p class="text-body my-2" data-key="lastNews-notice4-description">
                </p>
            </div>
        </div>
        <!--FIN CARD NOTICIA-->
    </div>
</div>