<section class="bg-gray-100 py-20 px-6 lg:px-20">
  <div class="max-w-7xl mx-auto text-center">
    
    <!-- Título -->
    <h2 class="text-3xl lg:text-4xl font-semibold text-gray-500 mb-16">
      El Equipo
    </h2>

    <!-- Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-12">
      
      <div>
        <h3 class="text-lg font-medium text-gray-700">
          Persona0
        </h3>
        <div class="w-12 h-0.5 bg-sky-400 mx-auto my-3"></div>
        <p class="text-gray-500 italic text-sm">
          Director Gerente
        </p>
      </div>

      <div>
        <h3 class="text-lg font-medium text-gray-700">
          Persona1
        </h3>
        <div class="w-12 h-0.5 bg-sky-400 mx-auto my-3"></div>
        <p class="text-gray-500 italic text-sm">
          Director Científico
        </p>
      </div>

      <div>
        <h3 class="text-lg font-medium text-gray-700">
          Persona2
        </h3>
        <div class="w-12 h-0.5 bg-sky-400 mx-auto my-3"></div>
        <p class="text-gray-500 italic text-sm">
          Ingeniero
        </p>
      </div>

      <div>
        <h3 class="text-lg font-medium text-gray-700">
          Persona3
        </h3>
        <div class="w-12 h-0.5 bg-sky-400 mx-auto my-3"></div>
        <p class="text-gray-500 italic text-sm">
          Responsable de Calidad
        </p>
      </div>

      <!-- NUEVOS -->

      <div>
        <h3 class="text-lg font-medium text-gray-700">
          Persona4
        </h3>
        <div class="w-12 h-0.5 bg-sky-400 mx-auto my-3"></div>
        <p class="text-gray-500 italic text-sm">
          Científico de Datos
        </p>
      </div>

      <div>
        <h3 class="text-lg font-medium text-gray-700">
          Persona5
        </h3>
        <div class="w-12 h-0.5 bg-sky-400 mx-auto my-3"></div>
        <p class="text-gray-500 italic text-sm">
          Desarrollador de Software y Firmware
        </p>
      </div>

      <div>
        <h3 class="text-lg font-medium text-gray-700">
          Persona6
        </h3>
        <div class="w-12 h-0.5 bg-sky-400 mx-auto my-3"></div>
        <p class="text-gray-500 italic text-sm">
          Directora Médica
        </p>
      </div>

      <div>
        <h3 class="text-lg font-medium text-gray-700">
          Persona7
        </h3>
        <div class="w-12 h-0.5 bg-sky-400 mx-auto my-3"></div>
        <p class="text-gray-500 italic text-sm">
          Técnico de Laboratorio
        </p>
      </div>

      

    </div>
  </div>
</section>