<div class="md:flex justify-center items-center gap-16 mt-20 mb-16 px-6">
    
    <!-- Left -->
    <div class="flex justify-center text-center md:text-left">
        <div class="max-w-xl">
            <h1 class="lg:text-5xl font-bold leading-tight text-3xl">
                ¿Quiénes Somos?
            </h1>

            <p class="mt-4 text-lg font-normal">
                Hacer de la IA el nuevo estándar de atención en medicina reproductiva
            </p>

            <div class="flex flex-col sm:flex-row justify-center md:justify-start gap-6 mt-10">
                
                <a href="./../../contact.html"
                   class="w-56 text-center py-3 px-6 bg-white text-black rounded-lg border border-black text-lg transition-all duration-300 hover:scale-105 hover:shadow-lg">
                    Contáctanos
                </a>

                <a href="./../../trabaja-con-nosotros"
                   class="w-64 text-center py-3 px-6 bg-[#50adc9] text-white rounded-lg text-lg transition-all duration-300 hover:bg-[#003565] hover:scale-105 hover:shadow-lg">
                    Trabaja con nosotros
                </a>

            </div>
        </div>
    </div>

    <!-- Right -->
    <div class="md:flex justify-center items-center hidden">
        <img 
            class="rounded-lg w-[500px] lg:w-[600px]" 
            src="https://images.unsplash.com/photo-1483058712412-4245e9b90334" 
            alt="">
    </div>

</div>